In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("hotel_bookings.csv")
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [3]:

# dropping column having too many NULL values
df.drop(["company"],axis=1,inplace=True)
df=df.dropna()
print("Columns : NULL values")
# deleting the rows having null values
for i in df.columns:
    print(i,df[i].isna().sum())

# reset the index values
df=df.reset_index(drop=True)
df

Columns : NULL values
hotel 0
is_canceled 0
lead_time 0
arrival_date_year 0
arrival_date_month 0
arrival_date_week_number 0
arrival_date_day_of_month 0
stays_in_weekend_nights 0
stays_in_week_nights 0
adults 0
children 0
babies 0
meal 0
country 0
market_segment 0
distribution_channel 0
is_repeated_guest 0
previous_cancellations 0
previous_bookings_not_canceled 0
reserved_room_type 0
assigned_room_type 0
booking_changes 0
deposit_type 0
agent 0
days_in_waiting_list 0
customer_type 0
adr 0
required_car_parking_spaces 0
total_of_special_requests 0
reservation_status 0
reservation_status_date 0

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
1,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
2,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
3,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,No Deposit,303.0,0,Transient,103.00,0,1,Check-Out,2015-07-03
4,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,No Deposit,240.0,0,Transient,82.00,0,1,Canceled,2015-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102889,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
102890,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
102891,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
102892,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
102893,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [4]:
df["reservation_status_date"] = pd.to_datetime(df.reservation_status_date)
df["reservation_status_day"]=list(df.reservation_status_date.dt.weekday)
df["reservation_status_month"]=list(df.reservation_status_date.dt.month)
df["reservation_status_week"]=list(df.reservation_status_date.dt.week)
df["reservation_status_year"]=list(df.reservation_status_date.dt.year)
df.drop(["reservation_status_date"],axis=1,inplace=True)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_day,reservation_status_month,reservation_status_week,reservation_status_year
0,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,3,7,27,2015
1,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,4,7,27,2015
2,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,4,7,27,2015
3,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,Transient,103.00,0,1,Check-Out,4,7,27,2015
4,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,Transient,82.00,0,1,Canceled,2,5,19,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102889,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,2,9,36,2017
102890,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,Transient,225.43,0,2,Check-Out,3,9,36,2017
102891,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,Transient,157.71,0,4,Check-Out,3,9,36,2017
102892,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,3,9,36,2017
102893,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,Transient,151.20,0,2,Check-Out,3,9,36,2017

In [5]:
month={}
for i in range(0,12):#list(df["arrival_date_month"].unique()):
    if i<6:
        month[list(df["arrival_date_month"].unique())[i]] = i+7
    else:
        month[list(df["arrival_date_month"].unique())[i]] = i-5 
for i in range(0,df.shape[0]):
    df["arrival_date_month"].values[i]=month[df["arrival_date_month"].values[i]]

In [6]:
month

{'July': 7,
 'August': 8,
 'September': 9,
 'October': 10,
 'November': 11,
 'December': 12,
 'January': 1,
 'February': 2,
 'March': 3,
 'April': 4,
 'May': 5,
 'June': 6}

In [18]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df["arrival_date_year"]=label_encoder.fit_transform(df["arrival_date_year"].values)
df["reservation_status_year"]=label_encoder.fit_transform(df["reservation_status_year"].values)
df["hotel"]=label_encoder.fit_transform(df["hotel"].values)
df["meal"]=label_encoder.fit_transform(df["meal"].values)
df["country"]=label_encoder.fit_transform(df["country"].values)
df["market_segment"]=label_encoder.fit_transform(df["market_segment"].values)
df["distribution_channel"]=label_encoder.fit_transform(df["distribution_channel"].values)
df["reserved_room_type"]=label_encoder.fit_transform(df["assigned_room_type"].values)
df["deposit_type"]=label_encoder.fit_transform(df["deposit_type"].values)
df["customer_type"]=label_encoder.fit_transform(df["customer_type"].values)
df["reservation_status"]=label_encoder.fit_transform(df["reservation_status"].values)
df["assigned_room_type"]=label_encoder.fit_transform(df["assigned_room_type"].values)

df.reservation_status_date.dt.year

In [19]:
for i in df.columns:
    print(i)
    print(df[i].unique())
    print("\n")

hotel
[1 0]


is_canceled
[0 1]


lead_time
[ 13  14   9  85  75  23  35  68  18  37  12   7  72 127  78  48  60  77
  99  95  69  45  40  15  36  43  70 107  47  96 113  90  50  93  76   3
   1   0  10   5  17  51  71  63  62 101   2  81 368 364 324  79  21 109
 102   4  98  92  26  73 115  86  52  29  30  33   8 100  44  80  97  64
  39  34  27  82 110 111  94  84  66 104  28 258 112  65  67  55  88  54
 292  83 105 280 394  24 103  16 366 249  22  91  11 108 106  31  87  41
  32 304 117  59  53  58 116  42 321 118  56  49 317   6  38  57  19 315
  25 123  46  89  61 312 299 130  74 298 119  20 286 136 129 124 327 131
 460 140 114 139 122 137 126 120 128 135 150 143 151 132 157 147 138 156
 164 346 159 160 161 333 381 149 297 163 314 155 323 340 356 328 144 248
 302 175 344 382 146 170 166 338 167 310 148 165 172 171 145 121 178 305
 173 152 354 347 158 125 185 177 142 200 192 361 207 174 330 134 350 283
 153 197 133 241 193 235 183 194 261 260 216 169 209 238 215 141 189 187
 223 284 154 214 202 211 168 230 203 188 232 219 162 196 190 259 228 176
 250 201 186 199 180 206 205 224 222 182 210 275 212 229 218 208 181 191
 179 246 255 226 288 253 252 262 236 256 234 254 468 213 237 198 195 239
 263 265 274 217 307 233 227 257 276 264 311 277 204 225 290 266 270 319
 282 251 322 291 269 240 271 220 184 221 231 268 247 273 300 301 267 244
 306 294 293 309 272 242 295 285 243 349 308 398 303 245 424 279 331 281
 339 434 357 325 329 278 332 343 345 360 348 367 353 373 374 406 400 326
 379 399 316 341 320 385 355 363 358 296 422 390 370 376 342 375 397 289
 542 403 383 384 393 337 435 378 335 313 351 287 336 471 352 318 334 372
 359 371 454 532 445 362 388 365 407 443 437 451 391 386 405 412 419 420
 426 433 440 429 418 447 461 605 457 475 464 482 626 489 496 503 510 517
 524 531 538 545 552 559 566 573 580 587 594 601 608 615 622 629 396 410
 395 423 408 409 448 462 465 450 414 476 479 467 490 493 389 478 504 507
 458 518 521 377 444 380 463]


arrival_date_year
[0 1 2]


arrival_date_month
[7 8 9 10 11 12 1 2 3 4 5 6]


arrival_date_week_number
[27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26]


arrival_date_day_of_month
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]


stays_in_weekend_nights
[ 0  1  2  4  3  6 13  8  5  7 12  9 16 10 14]


stays_in_week_nights
[ 1  2  3  4  5 11  8 10  6  7 15  0  9 12 33 20 16 21 13 30 14 40 19 22
 25 17 26 18 34 41]


adults
[ 1  2  3 26  0  4]


children
[ 0.  1.  2. 10.  3.]


babies
[ 0  1  2 10  9]


meal
[0 1 2 3 4]


country
[ 59 134 166  51  76 138 123 126   6 132  43  56  15  29  34  66  81  46
 139 151  11  52  42  25  54 112  27 100 122 150   3  75  31 106 103 163
 101 133 147  30  12  23  99 159 171  40 172 173  48  91  38  72   5 158
  82  71  69  80  77  60   4  63 165  83  28  41  35  61  92 120 105 168
 149   1  55  86 127  73  94 130 143 152  13  20 125 155  47 107 116   7
  85  98  39  33 114  36 148 162  19  32  84 153 144  14 141 170 131 137
  50 129 109 115  79  49 124  37  21 102 154 160  44  90  53  78  70 140
  88 104  18 167  74 156 121  16 169 161  58  22  62 157  64  87  97  65
 111 164 117  57 110 128  17  95 108 118  24 135  26   0   2 146  45 136
  68  96   9  67   8 113 119  89 142  10 145  93]


market_segment
[2 6 3 5 4 1 0]


distribution_channel
[0 3 1 2]


is_repeated_guest
[0 1]


previous_cancellations
[ 0  1  2 26 25 14  3 24 21  5 13 11  6]


previous_bookings_not_canceled
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 50]


reserved_room_type
[0 2 3 4 6 5 8 1 7 9]


assigned_room_type
[0 2 3 4 6 5 8 1 7 9]


booking_changes
[ 0  1  2  3  5  4 17  6  8  7 10 16  9 13 12 14 15 18 11]


deposit_type
[0 2 1]


agent
[304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243. 242.
   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.   6.
 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.  36.
  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256. 314.
 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38. 155.
  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.  91.
 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.   1.
 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410. 390.
 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.  34.
 252. 270.  47. 114. 301. 193. 182. 135. 350. 195. 352. 355. 159. 139.
 363. 384. 360. 331. 367.  64.  78. 406. 163. 414. 333. 427. 431. 430.
 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.  59. 451.
 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508. 535. 302.
 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.  45.  37.
  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.  83.  32.
  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129. 179. 138.
 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79. 235. 192.
 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107. 262. 220.
 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484. 323. 403.
 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.  90. 112.
 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227. 247. 278.
 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344. 346. 359.
 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.  73. 354.
 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]


days_in_waiting_list
[  0  50  65 122 101 150 125  14  60  34  22 121  61   5   1  43  52   2
  11 116  44   4 113  18 109   6  37 105 154  64  38  48  33  77  21  80
  59  40  58  89  53  49  69  87  91  57  99 111  79  98  85  63  15   3
  20  93  41 224  39  56 187 176  71  55  96 236 259 207 215 160  75 120
  30  31  32  27  62  24 108 147 107 379  70   8  35 178 330 223 174 162
 391  68 193  76  16  28 165  17 100  46  47  84 175 183  10   7  23  13
 117  12  26  45  19  42  25   9  72  81  92  74 167  36]


customer_type
[2 0 3 1]


adr
[ 75.    98.   103.   ... 266.75 209.25 157.71]


required_car_parking_spaces
[0 1 2 3]


total_of_special_requests
[0 1 3 2 4 5]


reservation_status
[1 0 2]


reservation_status_day
[3 4 2 1 6 0 5]


reservation_status_month
[ 7  5  4  6  3  8  9 11  1 10 12  2]


reservation_status_week
[27 19 17 26 28 20 29 21 25 23 24 22 16 18 14 30 13 10 15 31 32 12 33 34
 35 36 37 38 47  1 43  4 39 40 42 41 44 45 46 48 49 50 53 51 52  2  3  6
  5  7  8  9 11]


reservation_status_year
[1 0 2 3]

In [20]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_day,reservation_status_month,reservation_status_week,reservation_status_year
0,1,0,13,0,7,27,1,0,1,1,...,0,2,75.00,0,0,1,3,7,27,1
1,1,0,14,0,7,27,1,0,2,2,...,0,2,98.00,0,1,1,4,7,27,1
2,1,0,14,0,7,27,1,0,2,2,...,0,2,98.00,0,1,1,4,7,27,1
3,1,0,9,0,7,27,1,0,2,2,...,0,2,103.00,0,1,1,4,7,27,1
4,1,1,85,0,7,27,1,0,3,2,...,0,2,82.00,0,1,0,2,5,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102889,0,0,23,2,8,35,30,2,5,2,...,0,2,96.14,0,0,1,2,9,36,3
102890,0,0,102,2,8,35,31,2,5,3,...,0,2,225.43,0,2,1,3,9,36,3
102891,0,0,34,2,8,35,31,2,5,2,...,0,2,157.71,0,4,1,3,9,36,3
102892,0,0,109,2,8,35,31,2,5,2,...,0,2,104.40,0,0,1,3,9,36,3
102893,0,0,205,2,8,35,29,2,7,2,...,0,2,151.20,0,2,1,3,9,36,3

In [21]:
X = df.drop("is_canceled",axis=1)
y = df["is_canceled"]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=0)

#  Random Forest Test

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
rfc = RandomForestClassifier(n_estimators = 40)
rfc.fit(X_train,y_train)
rfc_pred = rfc.predict(X_test)
print(classification_report(y_test,rfc_pred))
print('\n')
print(confusion_matrix(y_test,rfc_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     20631
           1       1.00      1.00      1.00     13325

    accuracy                           1.00     33956
   macro avg       1.00      1.00      1.00     33956
weighted avg       1.00      1.00      1.00     33956



[[20631     0]
 [   10 13315]]

# Decision Tree

In [11]:
X

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_day,reservation_status_month,reservation_status_week,reservation_status_year
0,1,13,0,7,27,1,0,1,1,0.0,...,0,2,75.00,0,0,1,3,7,27,1
1,1,14,0,7,27,1,0,2,2,0.0,...,0,2,98.00,0,1,1,4,7,27,1
2,1,14,0,7,27,1,0,2,2,0.0,...,0,2,98.00,0,1,1,4,7,27,1
3,1,9,0,7,27,1,0,2,2,0.0,...,0,2,103.00,0,1,1,4,7,27,1
4,1,85,0,7,27,1,0,3,2,0.0,...,0,2,82.00,0,1,0,2,5,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102889,0,23,2,8,35,30,2,5,2,0.0,...,0,2,96.14,0,0,1,2,9,36,3
102890,0,102,2,8,35,31,2,5,3,0.0,...,0,2,225.43,0,2,1,3,9,36,3
102891,0,34,2,8,35,31,2,5,2,0.0,...,0,2,157.71,0,4,1,3,9,36,3
102892,0,109,2,8,35,31,2,5,2,0.0,...,0,2,104.40,0,0,1,3,9,36,3
102893,0,205,2,8,35,29,2,7,2,0.0,...,0,2,151.20,0,2,1,3,9,36,3

In [23]:
import keras
from keras.models import Sequential   # Creating the neural network
from keras.layers import Dense # creating hidden layers

# Initialising withh ANN
classifier = Sequential() # empty neural network


# Adding the input layer and the first hiddent Layer:
classifier.add(Dense(units= 100, kernel_initializer='he_uniform', activation='relu' , input_dim=33))


# Adding the second hidden layer
classifier.add(Dense(units= 50, kernel_initializer='he_uniform', activation='relu'))


# Adding the third hidden layer
classifier.add(Dense(units= 20, kernel_initializer='he_uniform', activation='relu'))

# Adding the output layer
classifier.add(Dense(units=1, kernel_initializer='he_uniform',activation='sigmoid'))

# Compiling the ANN (setting the optimizer)
classifier.compile(optimizer='adam', loss='binary_crossentropy',metrics = ['accuracy'])

# Fitting the ANN to the Training set
model_history = classifier.fit(X_train,y_train,validation_split=0.5,batch_size=32,nb_epoch=10)

C:\Users\DeLL\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Train on 34469 samples, validate on 34469 samples
Epoch 1/10
34469/34469 [==============================] - 11s 313us/step - loss: 0.7082 - acc: 0.8081 - val_loss: 0.2527 - val_acc: 0.9294
Epoch 2/10
34469/34469 [==============================] - 9s 264us/step - loss: 0.2672 - acc: 0.9236 - val_loss: 0.2005 - val_acc: 0.9442
Epoch 3/10
34469/34469 [==============================] - 7s 212us/step - loss: 0.2031 - acc: 0.9509 - val_loss: 0.1574 - val_acc: 0.9692
Epoch 4/10
34469/34469 [==============================] - 8s 218us/step - loss: 0.1526 - acc: 0.9704 - val_loss: 0.1457 - val_acc: 0.9737
Epoch 5/10
34469/34469 [==============================] - 6s 183us/step - loss: 0.1376 - acc: 0.9738 - val_loss: 0.1090 - val_acc: 0.9866
Epoch 6/10
34469/34469 [==============================] - 6s 175us/step - loss: 0.1374 - acc: 0.9743 - val_loss: 0.1448 - val_acc: 0.9531
Epoch 7/10
34469/34469 [==============================] - 6s 178us/step - loss: 0.1057 - acc: 0.9813 - val_loss: 0.0754 - val_acc: 0.9882
Epoch 8/10
34469/34469 [==============================] - 6s 185us/step - loss: 0.0754 - acc: 0.9861 - val_loss: 0.0866 - val_acc: 0.9725
Epoch 9/10
34469/34469 [==============================] - 7s 192us/step - loss: 0.0365 - acc: 0.9914 - val_loss: 0.0279 - val_acc: 0.9935
Epoch 10/10
34469/34469 [==============================] - 7s 192us/step - loss: 0.0262 - acc: 0.9934 - val_loss: 0.0575 - val_acc: 0.9860

In [ ]:

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# making the confusing matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,y_pred)

# calculate accuracy

from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,Y_test)
score